<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!-- Carousel head picture -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
      <li data-target="#myCarousel" data-slide-to="8"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="galery/douro.jpg" alt="Douro">
        <div class="carousel-caption">
          <h3>Douro</h3>
          <p>Berço de fantásticos vinhos!</p>
        </div>      
      </div>

        <div class="item">
        <img src="galery/douro5.jpg" alt="Douro valley"/>
        <div class="carousel-caption">
          <h3>Douro</h3>
          <p>Magnifica região de vinhos!</p>
        </div>      
      </div>
      <div class="item">
        <img src="galery/0546.jpg" alt="Douro valley"/>
        <div class="carousel-caption">
          <h3>Douro</h3>
          <p>Magnifica região de vinhos!</p>
        </div>      
      </div>        
      <div class="item">
        <img src="galery/douro1.fw.png" alt="Douro"/>
        <div class="carousel-caption">
          <h3>Douro</h3>
          <p>Origem do vinho do Porto</p>
        </div>      
      </div>      
      <div class="item">
        <img src="galery/vinhaverde1.jpg" alt="Vinho Verde"/>
        <div class="carousel-caption">
          <h3>Douro Litoral e Minho</h3>
          <p>Vinhas de Vinho Verde</p>
        </div>      
      </div>      
      <div class="item">
        <img src="galery/vinhaverde2.jpg" alt="Vinhas de Vinho Verde"/>
        <div class="carousel-caption">
          <h3>Douro Litoral e Minho</h3>
          <p>Vinhas de Vinho Verde</p>
        </div>      
      </div>
      <div class="item">
        <img src="galery/alentejo1.jpg" alt="Alentejo"/>
        <div class="carousel-caption">
          <h3>Alentejo</h3>
          <p>Planicies a perder de vista!</p>
        </div>      
      </div>        
      <div class="item">
        <img src="galery/alentejo2.jpg" alt="Alentejo"/>
        <div class="carousel-caption">
          <h3>Alentejo</h3>
          <p>Planicies a perder de vista!</p>
        </div>      
      </div>
        <div class="item">
        <img src="galery/12389.jpg" alt="Douro"/>
        <div class="carousel-caption">
          <h3>Um brinde</h3>
          <p></p>
        </div>      
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Seguinte</span>
    </a>
</div>
<!-- Here is the introduction text -->  
<div class="w3-container w3-center">    
  <h2>Vinhos de Portugal</h2><br>
  <!--Linha 1-->
  <div class="w3-row">
    <!-- Apresentation text -->  
    <div class="w3-col m5 well w3-container">
      <div class="w3-small">
          <h5>Filipe Babo - Vinhos</h5>   
       <p>Importação produtos viniculas de Portugal.</p>
      </div>
      <div class="text-justify small">
          <p>FB Vinhos nasceu com a ideia de divulgar os vinhos portugueses na Bélgica, 
              principalmente na zona de Gent. Procuramos apresentar a melhor relação preço
              qualidade sem esquecer a variedade. Temos vinhos das regiões Vinho Verde, Vinho do Porto,
              Douro, Alentejo, Dão, Setubal. Temos também outros produtos portugueses tais como Azeite, 
          Aguardentes, Bagaceiras, Licores e outros. Somos o representante de uma das maiores 
          cadeias de distribuição em Portugal.</p>
          <p>Encomende já. Entregas grátis na área de Gant.</p>
      </div>
    </div>
    <!-- Wine Regions map -->
    <div class="w3-col m3 w3-container">
        <img src="galery/portugal-mapa.fw.png" class="img-responsive" style="width:50%;float: left" alt="Image">
        <ul class="list-unstyled small">
            <li><a ng-href="#/produtos/alentejo"><span style="color: #a6e1ec">Alentejo</span></a></li>
            <li><a ng-href="#/produtos/bairrada"><span style="color: green">Bairrada</span></a></li>
            <li><a ng-href="#/produtos/dao"><span style="color: olive">Dão</span></a></li>
            <li><a ng-href="#/produtos/douro"><span style="color: #660000">Douro</span></a></li>
            <li><a ng-href="#/produtos/setubal"><span style="color: darkblue">Setubal</span></a></li>
            <li><a ng-href="#/produtos/vinhos verdes"><span style="color: #dddd00">Vinho Verde</span></a></li>
            <li></li>
        </ul>
    </div>
<!-- Região do Douro -->
<div class="w3-col m4">
    <div style="width: 100%">
    <div class="w3-container" style="width:48%; float: right">
        <a ng-href="#/produtos/douro">
            <img class="mySlides w3-animate-right img-responsive img-rounded w3-hover-sepia" src="galery/douro1.jpg"  style="width:100%">
            <img class="mySlides w3-animate-right img-responsive img-rounded w3-hover-sepia" src="galery/douro6.jpg"  style="width:100%">
            <img class="mySlides w3-animate-right img-responsive img-rounded w3-hover-sepia" src="galery/douro3.jpg"  style="width:100%">
            <img class="mySlides w3-animate-right img-responsive img-rounded w3-hover-sepia" src="galery/douro7.fw.png"  style="width:100%">
        <h6>Douro</h6>
        </a>
    </div>
    <div class="w3-container" style="width:48%; float: right">
        <a ng-href="#/produtos/vinho do porto">
            <img src="galery/portos.jpeg" class="img-responsive img-rounded w3-hover-sepia" style="width:100% " alt="Image">
            <h6>Vinho do Porto</h6>
        </a>
    </div>
    </div>
    <div style="width: 100%">
        <a ng-href="#/outrosProdutos/aguardentes&licores">
                <div class="w3-container" style="width:48%; float: right">
                <img src="galery/outras_bebidas.jpg" class="img-responsive img-rounded w3-hover-sepia" style="width:100% " alt="Image">
            <h6>Aguardentes & Licores</h6>    
            </div>
        </a>
        <a ng-href="#/produtos/espumante">
            <div class="w3-container" style="width:48%; float: right">
                <img src="galery/espumantes.fw.png" class="img-responsive img-rounded w3-hover-sepia" style="width:100% " alt="Image">
                <h6>Espumantes</h6>    
            </div>
        </a>
    </div>

</div>   
     
      
      
  </div>
  <!-- Linha 2 -->
   <div class="w3-row">
       <a ng-href="#/produtos/alentejo">
            <div class="w3-col s6 m2 w3-padding"> 
              <img src="galery/alent.png" class="img-responsive img-rounded w3-hover-sepia" style="width:100%" alt="Alentejo">
              <p>Alentejo</p>    
            </div>
       </a>
       <a ng-href="#/produtos/bairrada">       
            <div class="w3-col s6 m2 w3-padding"> 
                <img src="galery/anadia.jpg" class="img-responsive img-rounded w3-hover-sepia" style="width:100%" alt="Bairrada">
                <p>Bairrada</p>    
            </div>
       </a>
       <a ng-href="#/produtos/dão">
            <div class="w3-col s6 m2 w3-padding">
                <img src="galery/dao.jpg" class="img-responsive img-rounded w3-hover-sepia" style="width:100%" alt="Image">
              <p>Dão</p>
            </div>
       </a>
       <a ng-href="#/produtos/setubal">
            <div class="w3-col s6 m2 w3-padding"> 
                <img src="galery/setubal.jpg" class="img-responsive img-rounded w3-hover-sepia" style="width:100%" alt="Image">
              <p>Setubal</p>    
            </div>
       </a>
       <a ng-href="#/produtos/vinhos verdes">
        <div class="w3-col s6 m2 w3-padding">
            <img src="galery/vinhasverdes.jpg" class="img-responsive img-rounded w3-hover-sepia" style="width:100%" alt="Image">
            <p>Vinhos Verdes</p>  
        </div>
       </a>
       <a ng-href="#/outrosProdutos/azeite">
            <div class="w3-col s6 m2 w3-padding"> 
                <img src="galery/azeites.fw.png" class="img-responsive img-rounded w3-hover-sepia" style="width:100%" alt="Image">
              <p>Azeites</p>    
            </div>
       </a>
    </div>  
  </div>

<!-- This area will show some products in destak-->
<div class="container jumbotron">
    <h4 class="text-center">Produtos em destaque</h4>
    <div>
        <div class="w3-row">
            <div class="w3-col s12 m6 l3" style="margin-bottom: 30px" ng-repeat="destak in destaks">
                <a ng-href="#/produtos/{{destak.name}}">
                <div class="w3-card-4 destak">
                    <header class="w3-container w3-lime">
                        <h5>{{destak.name}}  <span style="font-size: small">{{destak.subtitle}}</span></h5>
                    </header>
                    <div class="w3-container" style="min-height: 205px; background-color: white">
                        <img src="img/{{destak.photobottle}}" class="img-responsive" alt="{{destak.name}}" style="max-height: 140px;float: left"/>
                        <div class="w3-container text-center overflowDiv">
                            <h6>{{destak.rname}}</h6>
                            <h6 class="w3-small">{{destak.wtname}}</h6>
                            <p class="w3-tiny w3-left w3-text-teal">{{destak.tasting}}</p>
 
                        </div>
                        <div class="w3-container text-right">
                            <h6>{{destak.pricesell}} €</h6>
                        </div>


                    </div>
                    <footer class="w3-container w3-khaki" style="min-height: 40px">
                            <p class="w3-small">{{destak.obstext}}</p>  
                    </footer>
                </div>
                </a>
                <a id="share-button" href="img/{{destak.photobottle}}" title="Facebook Share Button">
                           <img src="facebook-share-button.jpg" alt="Facebook Share Button" title="Facebook Share Button" />
                       </a>
            </div>
        </div> 
    </div>
    <h4 class="text-center w3-text-orange"><a href="#/produtos/%20">Ver catalogo completo</a></h4>
    
</div>


<div class="w3-row">
        <div class="information w3-container">
                <h4 class="w3-center w3-cyan">Informações</h4>

              <div class="w3-accordion">
                <button onclick="myFunction('Demo1')" class="w3-btn-block w3-center w3-light-gray w3-border-bottom">
                    Formas de pagamentos
                </button>
                <div id="Demo1" class="w3-accordion-content w3-container">
                  <p>Neste momento os pagamentos são feitos em dinheiro contra a entrega da mercadoria.</p>
                </div>
                <button onclick="myFunction('Demo2')" class="w3-btn-block  w3-center w3-light-gray w3-border-bottom">
                    Entregas</button>
                <div id="Demo2" class="w3-accordion-content w3-container">
                  <p>Fazemos entregas ao domicilio.</p>
                  <ul>
                      <li>Até 10 Km de Ghent a entrega é gratuita.</li>
                      <li>40 centimos/Km para compras até 50€</li>
                      <li>30 centimos/Km para compras até 100€</li>
                  </ul>
                </div>
                <button onclick="myFunction('Demo3')" class="w3-btn-block  w3-center w3-light-gray w3-border-bottom">
                    Degustações ao domicilio.</button>
                <div id="Demo3" class="w3-accordion-content w3-container">
                  <p>Combinado com antecedencia e consoante disponibilidade.</p>

                </div>                  
              </div>
        </div>
        
    
</div>

<br/>

<div class="contact container">
    <div class="row">
        <div class="col-sm-2">
            <div class="onlyDesktop">
                <h5>Contacto</h5>
                <img src="galery/wijn-fb contact.png" style="width:90%;float: left" alt="QR contact"/>
                <p class="w3-small">Leia com o seu smartphone</p>
            </div>            
        </div>
        <div class="col-sm-3">
            <h4>Saiba mais !</h4>
            <p>Para obter informações, mais detalhadas sobre nós e nossos produtos, pode usar este formulario.</p>
            
            <p>Ou deixe o seu contacto que nós ligamos</p>
            <form class="form-horizontal" ng-submit="saveContact(c)">
                <label class="control-label">Nome: </label>
            <input class="form-control input-small" type="text" ng-model="c.callmename" required="required"/>
            <br/>
            <label class="control-label">Telefone: </label>
            <input class="form-control input-small" type="text" ng-model="c.callmephone" required="required"/>
            <br/>
            <button class="btn-info" type="submit"><span class="glyphicon glyphicon-phone-alt"></span> Ligue-me</button>
            </form>
        </div>
        <div class="col-sm-1">
            
        </div>
        <div class="col-sm-5">
            <form ng-submit="sendMsg(m)">
            <label>Nome: </label>
            <input class="form-control input-small" type="text" ng-model="m.clientname" required="required"/>
            <label>Email: </label>
            <input class="form-control input-small" type="email" ng-model="m.clientemail" required="required"/>
            <label>Mensagem:</label>
            <textarea class="form-control input-small" ng-model="m.clientmessage" cols="50" rows="6"></textarea>
            <br/>
            <button class="btn-success" type="submit"><span class="glyphicon glyphicon-envelope"></span> Enviar</button>
            <br/>
            </form>
            
        </div>
        
    </div>
    
</div>


<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 9000);
}

function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

    <script>
        var el = document.getElementById('share-button');
 
        el.onclick = function (e) {
	e.preventDefault();
	FB.ui({
		method: 'feed',
		name: 'Wijn Belgic',
		link: ' wijn-fb.be',
		picture: 'wijn-fb.be/galery/douro4.jpg',
		caption: 'Conteúdo do campo caption',
		description: 'Conteúdo do campo description'
	});
}
    </script> 