<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!-- Carousel head picture -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
      <li data-target="#myCarousel" data-slide-to="8"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="galery/douro.jpg" alt="Douro">
        <div class="carousel-caption">
          <h3>Douro</h3>
          <p>Bakermat van de fantastische wijnen!</p>
        </div>      
      </div>

        <div class="item">
        <img src="galery/douro5.jpg" alt="Douro valley"/>
        <div class="carousel-caption">
          <h3>Douro</h3>
          <p>Prachtige wijnstreek!</p>
        </div>      
      </div>
      <div class="item">
        <img src="galery/0546.jpg" alt="Douro valley"/>
        <div class="carousel-caption">
          <h3>Douro</h3>
          <p>Prachtige wijnstreek!</p>
        </div>      
      </div>        
      <div class="item">
        <img src="galery/douro1.fw.png" alt="Douro"/>
        <div class="carousel-caption">
          <h3>Douro</h3>
          <p>Oorsprong/bron van de Porto</p>
        </div>      
      </div>      
      <div class="item">
        <img src="galery/vinhaverde1.jpg" alt="Vinho Verde"/>
        <div class="carousel-caption">
          <h3>Douro Litoral e Minho</h3>
          <p>Wijnranken Vinho Verde</p>
        </div>      
      </div>      
      <div class="item">
        <img src="galery/vinhaverde2.jpg" alt="Vinhas de Vinho Verde"/>
        <div class="carousel-caption">
          <h3>Douro Litoral e Minho</h3>
          <p>Wijnranken Vinho Verde</p>
        </div>      
      </div>
      <div class="item">
        <img src="galery/alentejo1.jpg" alt="Alentejo"/>
        <div class="carousel-caption">
          <h3>Alentejo</h3>
          <p>Weidse landschappen!</p>
        </div>      
      </div>        
      <div class="item">
        <img src="galery/alentejo2.jpg" alt="Alentejo"/>
        <div class="carousel-caption">
          <h3>Alentejo</h3>
          <p>Warm land!</p>
        </div>      
      </div>
        <div class="item">
        <img src="galery/12389.jpg" alt="Douro"/>
        <div class="carousel-caption">
          <h3>Een toast</h3>
          <p></p>
        </div>      
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Voorgaand</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Volgend</span>
    </a>
</div>
<!-- Here is the introduction text -->  
<div class="w3-container w3-center">    
  <h2>Portugese wijnen</h2><br>
  <!--Linha 1-->
  <div class="w3-row">
    <div class="w3-col m5 well w3-container">
      <div class="w3-small">
          <h5>FB - Wijn</h5>   
       <p>Importeert wijn uit Portugal.</p>
      </div>
      <div class="text-justify w3-tiny">
          <p>Dé wijnhandel voor uw Portugese wijnen, is ongetwijfeld FB-Wijn.<br/> 
Het almaar groeiend wijnaanbod maakt een fatsoenlijke wijnkeuze voor de liefhebber steeds moeilijker.<br/> 
Door de Portugese verankering van FB-Wijn is het een logische keuze om beroep te doen op onze expertise wat Portugese wijnen betreft. 
Voortdurend wordt gezocht naar de authentieke wijnhuizen om zodoende de juiste wijn aan de beste prijs aan te bieden.<br/> 
De Portugese wijncultuur gaat terug tot de romeinse tijd.</p>
<p>Elke regio kent zijn eigenheid. Tussen de wijngaarden van de valleien van de Douro vindt men quintas met een eeuwenoude wijnbouwtraditie. 
    <br/>In de Minho ontdekt men de Vinho verde, een frisse licht parelende wijn met een laag alcholholpercentage dat volledig beantwoordt aan de smaak van de eigentijdse wijnbeleving. 
    <br/>De Dão en Bairrada krijgen hun delicate smaak onder andere door de invloed van de Atlantische Oceaan. 
    <br/>En de Alentejo is met Reguengos, Europese Wijnstad van 2015, een wijnregio in opkomst.</p>
<p>Portugal is een schitterend land met een goed verborgen schatkamer aan buitengewone en sublieme wijnen.</p>
      </div>
    </div>
    <div class="w3-col m3 w3-container">
        <img src="galery/portugal-mapa.fw.png" class="img-responsive" style="width:50%;float: left" alt="Image">
        <ul class="list-unstyled small">
            <li><a ng-href="#/producten/alentejo"><span style="color: #a6e1ec">Alentejo</span></a></li>
            <li><a ng-href="#/producten/bairrada"><span style="color: green">Bairrada</span></a></li>
            <li><a ng-href="#/producten/dao"><span style="color: olive">Dão</span></a></li>
            <li><a ng-href="#/producten/douro"><span style="color: #660000">Douro</span></a></li>
            <li><a ng-href="#/producten/setubal"><span style="color: darkblue">Setubal</span></a></li>
            <li><a ng-href="#/producten/vinhos verdes"><span style="color: #dddd00">Vinho Verde</span></a></li>
            <li></li>
        </ul>
    </div>
<!--<p>Região do Douro</p>-->
<div class="w3-col m4">
    <div style="width: 100%">
    <div class="w3-container" style="width:50%; float: right">
        <a ng-href="#/producten/douro">
            <img class="mySlides w3-animate-right img-responsive img-rounded w3-hover-sepia" src="galery/douro1.jpg"  style="width:100%">
            <img class="mySlides w3-animate-right img-responsive img-rounded w3-hover-sepia" src="galery/douro6.jpg"  style="width:100%">
            <img class="mySlides w3-animate-right img-responsive img-rounded w3-hover-sepia" src="galery/douro3.jpg"  style="width:100%">
            <img class="mySlides w3-animate-right img-responsive img-rounded w3-hover-sepia" src="galery/douro7.fw.png"  style="width:100%">
        <h6>Douro</h6>
        </a>
    </div>
    <div class="w3-container" style="width:48%;float: right">
        <a ng-href="#/producten/port wijn">
            <img src="galery/portos.jpeg" class="img-responsive img-rounded w3-hover-sepia" style="width:100% " alt="Image">
            <h6>Port Wijn</h6>
        </a>
    </div>
    </div>
    <div style="width: 100%">
        <a ng-href="#/otherProducten/brandewijn&likeuren">
            <div class="w3-container" style="width:48%; float: right">
                <img src="galery/outras_bebidas.jpg" class="img-responsive img-rounded w3-hover-sepia" style="width:100% " alt="Image">
                <h6>Brandewijn & Likeuren</h6>    
            </div>
        </a>
        <a ng-href="#/producten/Mousserende">
            <div class="w3-container" style="width:48%; float: right">
                <img src="galery/espumantes.fw.png" class="img-responsive img-rounded w3-hover-sepia" style="width:100% " alt="Image">
                <h6>Mousserende wijn</h6>    
            </div>
        </a>
    </div>

</div>   
     
      
      
  </div>
  <!-- Linha 2 -->
   <div class="w3-row">

       <a ng-href="#/producten/alentejo">
            <div class="w3-col s6 m2 w3-padding"> 
              <img src="galery/alent.png" class="img-responsive img-rounded w3-hover-sepia" style="width:100%" alt="Alentejo">
              <p>Alentejo</p>    
            </div>
       </a>
       <a ng-href="#/producten/bairrada">       
            <div class="w3-col s6 m2 w3-padding"> 
                <img src="galery/anadia.jpg" class="img-responsive img-rounded w3-hover-sepia" style="width:100%" alt="Bairrada">
                <p>Bairrada</p>    
            </div>
       </a>
       <a ng-href="#/producten/dão">
            <div class="w3-col s6 m2 w3-padding">
                <img src="galery/dao.jpg" class="img-responsive img-rounded w3-hover-sepia" style="width:100%" alt="Image">
              <p>Dão</p>
            </div>
       </a>
       <a ng-href="#/producten/setubal">
            <div class="w3-col s6 m2 w3-padding"> 
                <img src="galery/setubal.jpg" class="img-responsive img-rounded w3-hover-sepia" style="width:100%" alt="Image">
              <p>Setubal</p>    
            </div>
       </a>
       <a ng-href="#/producten/vinhos verdes">
        <div class="w3-col s6 m2 w3-padding">
            <img src="galery/vinhasverdes.jpg" class="img-responsive img-rounded w3-hover-sepia" style="width:100%" alt="Image">
            <p>Vinhos Verdes</p>  
        </div>
       </a>
        <a ng-href="#/otherProducten/Olijfolie">
            <div class="w3-col s6 m2 w3-padding"> 
                <img src="galery/azeites.fw.png" class="img-responsive img-rounded w3-hover-sepia" style="width:100%" alt="Image">
              <p>Olijfolie</p>    
            </div>
       </a>
    </div>  
  </div>

<!-- This area will show some products -->
<div class="container jumbotron">
    <h4 class="text-center">Aanbevolen producten</h4>
    <div>
        <div class="w3-row">
            <div class="w3-col s12 m6 l3" style="; margin-bottom: 30px" ng-repeat="destak in destaks" ng-if="destak.active">
                <a ng-href="#/producten/{{destak.name}}">
                    <div class="w3-card-4 destak">
                    <header class="w3-container w3-lime">
                        <h5>{{destak.name}}  <span style="font-size: small">{{destak.subtitle}}</span></h5>
                    </header>
                    <div class="w3-container" style="min-height: 205px; background-color: white">
                        <img src="img/{{destak.photobottle}}" class="img-responsive" alt="{{destak.name}}" style="max-height: 120px;float: left"/>
                        <div class="w3-container text-center overflowDiv">
                            <h6>{{destak.rname}}</h6>
                            <h6 class="w3-small">{{destak.wtname_be}}</h6>
                            <p class="w3-tiny w3-left w3-text-teal">{{destak.tasting_be}}</p>
                            
                        </div>
                        <div class="w3-container text-right">
                            <h6>{{destak.pricesell}} €</h6>
                        </div>
                       <fb:like href="http://wijn-fb.be#/producten/{{destak.name}}" send="true" width="450" show_faces="false"></fb:like>

                    </div>
                    <footer class="w3-container w3-khaki" style="min-height: 40px">
                            <p class="w3-small">{{destak.dobsBE}}</p>
                    </footer>
                </div>
                </a>
            </div>
        </div> 
    </div>
    <h4 class="text-center w3-text-orange"><a href="#/producten/%20">Bekijk de volledige catalogus</a></h4>
    
</div>


<div class="w3-row">
        <div class="information w3-container">
                <h4 class="w3-center w3-cyan">Informatie</h4>

              <div class="w3-accordion">
                <button onclick="myFunction('Demo1')" class="w3-btn-block w3-center w3-light-gray w3-border-bottom">
                    Vormen van betaling
                </button>
                <div id="Demo1" class="w3-accordion-content w3-container">
                  <p>Op dit ogenblik: contant bij aflevering van de wijnen.</p>
                </div>
                <button onclick="myFunction('Demo2')" class="w3-btn-block  w3-center w3-light-gray w3-border-bottom">
                    Leveringen</button>
                <div id="Demo2" class="w3-accordion-content w3-container">
                  <p>Levering steeds op het aangegeven adres:</p>
                  <ul>
                      <li>Tot een straal van 10 km rond Gent: gratis</li>
                      <li>Indien verder, € 0,40/km bij aankopen tot €100,00 
                          (excl. BTW), voor aankopen hoger dan €100,00 (excl BTW)
                          bedraagt de bijdrage slechts € 0,30/km</li>
                  </ul>
                </div>
                <button onclick="myFunction('Demo3')" class="w3-btn-block  w3-center w3-light-gray w3-border-bottom">
                    Proeverijen ter plaatse</button>
                <div id="Demo3" class="w3-accordion-content w3-container">
                    <p>Afhankelijk van de beschikbaarheid, maar steeds volgens afspraak.</p>
                </div>                  
              </div>
        </div>
        
    
</div>

<br/>

<div class="contact container">
    <div class="row">
        <div class="col-sm-2">
            <div class="onlyDesktop">
                <h5>Contact</h5>
                <img src="galery/wijn-fb contact.png" style="width:90%;float: left" alt="QR contact"/>
                <p class="w3-small">scan dit met je smartphone</p>
            </div>
        </div>
        <div class="col-sm-3">
            <h4>Informatie:</h4>
            <p>Voor bestellingen, voor bijkomende informatie, over ons en onze wijnen en voor andere inlichtingen
                kunt u navolgend formulier invullen:</p>
            
            <form class="form-horizontal" ng-submit="saveContact(c)">
                <label class="control-label">Naam: </label>
            <input class="form-control input-small" type="text" ng-model="c.callmename" required="required"/>
            <br/>
            <label class="control-label">Telefoon </label>
            <input class="form-control input-small" type="text" ng-model="c.callmephone" required="required"/>
            <br/>
            <button class="btn-info" type="submit"><span class="glyphicon glyphicon-phone-alt"></span>Bel me</button>
            </form>
        </div>
        <div class="col-sm-1">
            
        </div>
        <div class="col-sm-5">
            <form ng-submit="sendMsg(m)">
            <label>Naam: </label>
            <input class="form-control input-small" type="text" ng-model="m.clientname" required="required"/>
            <label>Email: </label>
            <input class="form-control input-small" type="email" ng-model="m.clientemail" required="required"/>
            <label>Bericht met eventueel vermelding van leveringsplaats:</label>
            <textarea class="form-control input-small" ng-model="m.clientmessage" cols="50" rows="6"></textarea>
            <br/>
            <button class="btn-success" type="submit"><span class="glyphicon glyphicon-envelope"></span> Zenden</button>
            <br/>
            </form>
            
        </div>
        
    </div>
    
</div>


<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 9000);
}

function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>