<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h1 class="text-center">Produtor</h1>
<table class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Site</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="r in data">
            <td>{{r.id}}</td>
            <td><a ng-click="showModalProducer(r)"> {{r.name}}</a></td>
            <td>{{r.email}}</td>
            <td>{{r.site}}</td>
        </tr>
    </tbody>
</table>
<br/>
<div class="container text-center">
    <button class="btn btn-info" ng-click="addNewProducer(null)">
        <span class="glyphicon glyphicon-plus"></span>
        Nova
    </button>
</div>


<!--  Modal for edition-->
    <script type="text/ng-template" id="producerModal.html">
        <div class="modal-header">
            <h3 class="modal-title">
                Produtor
                <span class="closeModal" ng-click="closeModal()">X</span>
            </h3>
        </div>
        <div class="modal-body">
            <div class="loginDiv">
            <form ng-submit="saveEdit(r)">
                <label>Nome: </label>
                <input type="text" class="inputLong" ng-model="r.name" required="required"/>
                <br/><br/>
                <label>Endereço: </label>
                <input type="text" class="inputLong" ng-model="r.address" placeholder="Opcional"/>
                <br/><br/>
                <label>Pais: </label>
                <input type="text" class="inputLong" ng-model="r.country" placeholder="Opcional"/>
                <br/><br/>
                <label>Telefone: </label>
                <input type="text" class="inputLong" ng-model="r.phone" placeholder="Opcional"/>
                <br/><br/>
                <label>Telemovel </label>
                <input type="text" class="inputLong" ng-model="r.mobile" placeholder="Opcional"/>
                <br/><br/>
                <label>Email </label>
                <input type="text" class="inputLong" ng-model="r.email" placeholder="Opcional"/>
                <br/><br/>                
                <label>site </label>
                <input type="text" class="inputLong" ng-model="r.site" placeholder="Opcional"/>
                <br/><br/>  
            <button type="submit" class="btn btn-success">Guardar</button>
            <form>
            </div>
        </div>

    </script>    